<div ng-controller="userList.ctrl">
    <ol class="breadcrumb">
        <li>用户管理</li>
    </ol>
    <div class="container">
        <form class="form-inline searchform">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="请输入用户名" ng-model="web_user_account" style="width: 300px"/>
                <button class="btn btn-primary" ng-click="listCard()">查询</button>
            </div>
        </form>
        <table class="table table-hover">
            <tr class="info">
                <th class="text-center w_100">用户名</th>
                <th class="text-center w_100">手机号码</th>
                <th class="text-center w_200">电子邮件</th>
                <th class="text-center w_200">收货地址</th>
                <th class="text-center w_200">会员积分</th>
                <th class="text-center w_200">订单管理</th>
            </tr>
            <tr ng-repeat="d in data">
                <td>{{d.name}}</td>
                <td>{{d.phone}}</td>
                <td>{{d.email}}</td>
                <td>{{d.address}}</td>
                <td>{{d.num}}</td>
                <td>
                    <a class="link" ng-click="historyOrder(d)">历史订单</a>
                </td>
            </tr>
        </table>
        <div id="pager"></div>
    </div>
</div>