<div ng-controller="myNum.ctrl">
    <div class="user">
        <div class="menu">
            <div class="menu-head">用户中心</div>
            <ul class="menu-list">
                <li ng-click="showMyShop()">我的购物车</li>
                <li ng-click="showMyOrder()">我的订单</li>
                <li ng-click="showMyCollect()">我的收藏</li>
                <li ng-click="showMyAddress()">收货地址</li>
                <li ng-click="showMyReject()">我的退货</li>
                <li ng-click="showMyData()">个人资料</li>
                <li ng-click="showMySale()">我要出售</li>
                <li class="activeMenu" ng-click="showMyNum()">我的积分</li>
            </ul>
        </div>
        <div class="model-content">
            <div class="model-title"><span>我的积分</span></div>
            <div class="model-main">
                <h2>敬请期待</h2>
            </div>
        </div>
    </div>
</div>